@{
    ViewData["Title"] = "Juego del Ahorcado";
}


<body>
    <header>
        <h1>Juego del Ahorcado</h1>
<form action="@Url.Action("ArriesgarLetra", "Home")">
            <label for="letraarriesgada">Arriesgar Letra</label><br>
            <input type="text" name="letraarriesgada" maxlength="1"><br>
            <input type="submit" value="Enviar Letra">
        </form>

        <form action="@Url.Action("ArriesgarPalabra", "Home")">
            <label for="palabraarriesgada">Arriesgar Palabra</label><br>
            <input type="text" name="palabraarriesgada" ><br>
            <input type="submit" value="Enviar Palabra">
        </form>
        
    </header>

    <main>
    <img src="/img/ahorcado@(ViewBag.Intentos+1).png" alt="Ahorcado" class="imagenahorcado">
    
        <h2>Palabra: @ViewBag.Palabra</h2>

        <h2>
            Letras utilizadas:

                @string.Join(", ", (List<char>)ViewBag.Letras)

        </h2>

        @if (ViewBag.Finalizado == true)
        {
            <h3>
                @if (ViewBag.Gano == true)
                {
                    <a href="@Url.Action("Ganar", "Home")">Comenzar Juego</a>
                }
                else
                {
                    <a href="@Url.Action("Perder", "Home")">Comenzar Juego</a>
                }
            </h3>
        }
    </main>

<footer>
  <pre>

  
.==============================================.
|                                              |
|                           .'\                |
|                          //  ;               |
|                         /'   |               |
|        .----..._    _../ |   \               |
|         \'---._ `.-'      `  .'              |
|          `.    '              `.             |
|            :            _,.    '.            |
|            |     ,_    (() '    |            |
|            ;   .'(().  '      _/__..-        |
|            \ _ '       __  _.-'--._          |
|            ,'.'...____'::-'  \     `'        |
|           / |   /         .---.              |
|     .-.  '  '  / ,---.   (     )             |
|    / /       ,' (     )---`-`-`-.._          |
|   : '       /  '-`-`-`..........--'\         |
|   ' :      /  /                     '.       |
|   :  \    |  .'         o             \      |
|    \  '  .' /          o       .       '     |
|     \  `.|  :      ,    : _o--'.\      |     |
|      `. /  '       ))    (   )  \>     |     |
|        ;   |      ((      \ /    \___  |     |
|        ;   |      _))      `'.-'. ,-'` '     |
|        |    `.   ((`            |/    /      |
|        \     ).  .))            '    .       |
|     ----`-'-'  `''.::.________:::TT'' ---    |
|                                              |
|                                              |
|==============================================|
|                  THEO TROSMAN                |
|         https://github.com/theotrosman       |
'=============================================='
  </pre>



</footer>
 
</body>
